@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 3, 3, 3;
  --background-end-rgb: 0, 0, 0;
}

/* Premium Scroll Snapping */
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; /* "Premium" guided feel */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Utilities for Scroll Snap Sections */
.snap-section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
